<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ shop.name }}</title>
    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'base.css' | asset_url }}">
  </head>
  <body>
    {% section 'header' %}
    {% section 'hero' %}
    {{ content_for_layout }}
    {% section 'footer' %}
  </body>
</html>
