<header class="site-header">
  <div class="wrapper">
    {% render 'logo' %}
    <nav>
      <a href="/">Home</a>
      <a href="/collections/all">Shop</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
</header>
